<meta charset="UTF-8" />
<title>TRIBE - Tech Task</title>

<!-- add external links here -->
<script src="/javascript/scripts.js" defer></script>
<link rel="stylesheet" href="/styles/reset.css" />
<link rel="stylesheet" href="/styles/styles.css" />
